---
import ProgressBar from "../components/blog/ProgressBar";
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/blog/Title.astro";
import Index from "../components/blog/Index";

const { frontmatter, headings, readTime } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image=""
  url={`https://lunakit.netlify.app/blog/${frontmatter.title}`}
>
  <ProgressBar client:load />
  <article>
    <!-- <Index client:load headings={headings} /> -->
    <div class="center">
      <Title frontmatter={frontmatter} readTime={readTime} />
      <section class="markdown">
        <slot />
      </section>
    </div>
  </article>
</BaseLayout>
